@model MovieTicket.Web.Models.ViewModels.ActorVM.DeleteActorVM

@{
    ViewData["Title"] = "Delete Actor";
}


<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="@Url.Content("~/css/Actors/delete.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <form asp-action="Delete">
        <br />
        <div class="container border p-3">
            <h1 class="text-primary">Delete Actor</h1>
            <hr />
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group text-center">
                    <img id="ActorPicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                </div>

                <div class="col-2">
                    <label asp-for="Id" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-id-card'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Id" readonly />
                    </div>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="FirstName" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bxs-contact'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="LastName" readonly />
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="LastName" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bxs-contact'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="LastName" readonly />
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Bio" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-edit'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Bio" readonly />
                    </div>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="BirthDate" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-time-five'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="BirthDate" type="date" readonly />
                    </div>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="PictureUrl" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-image-add'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="PictureUrl" readonly />
                    </div>
                    <span asp-validation-for="PictureUrl" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="CountryId" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-flag'></i>
                            </span>
                        </div>
                        <select readonly class="form-control" asp-for="CountryId" asp-items="ViewBag.Countries"></select>
                    </div>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="CreatedAt" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-time-five'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="CreatedAt" readonly />
                    </div>
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>

                <div class="col-5 offset-2">
                    <input type="submit" value="Delete" class="btn btn-danger form-control" />
                </div>

                <div class="col-5">
                    <a asp-controller="Actors" asp-action="Index" class="btn btn-outline-primary">Back To Actors</a>
                </div>

            </div>

        </div>
    </form>
    <script src="js/Actors/delete.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
