@model MovieTicket.Web.Models.ViewModels.CountryVM.UpdateCountryVM

@{
    ViewData["Title"] = "Update Country";
}

<head>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="@Url.Content("~/css/Countries/update.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <form asp-action="Update">
        <br />
        <div class="container border p-3">
            <h1 class="text-primary">Update Country</h1>
            <hr />
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group text-center">
                    <img id="CountryPicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                </div>

                <div class="col-2">
                    <label asp-for="Id" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-id-card'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Id" readonly />
                    </div>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="Name" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bxs-contact'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Name" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Iso" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-world'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Iso" />
                    </div>
                    <span asp-validation-for="Iso" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="Nicename" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bxs-contact'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Nicename" />
                    </div>
                    <span asp-validation-for="Nicename" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Iso3" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-world'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="Iso3" />
                    </div>
                    <span asp-validation-for="Iso3" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="NumCode" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-phone-outgoing'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="NumCode" />
                    </div>
                    <span asp-validation-for="NumCode" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="PhoneCode" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-phone'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="PhoneCode" />
                    </div>
                    <span asp-validation-for="PhoneCode" class="text-danger"></span>
                </div>



                <div class="col-2">
                    <label asp-for="PictureUrl" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-image-add'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="PictureUrl" />
                    </div>
                    <span asp-validation-for="PictureUrl" class="text-danger"></span>
                </div>


                <div class="col-2">
                    <label asp-for="CreatedAt" class="control-label" style="font-size:1.3rem"></label>
                </div>
                <div class="col-10 pb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='bx bx-plus-circle'></i>
                            </span>
                        </div>
                        <input class="form-control" asp-for="CreatedAt" readonly />
                    </div>
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>

                <div class="col-5 offset-2">
                    <input type="submit" value="Update" class="btn btn-warning form-control" />
                </div>

                <div class="col-5">
                    <a asp-controller="Countries" asp-action="Index" class="btn btn-outline-primary">Back To Countries</a>
                </div>

            </div>

        </div>

    </form>
    <script src="~/js/Countries/update.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}