
.table th, .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

@media (min-width: 1200px) {
    .container {
        margin-right: 400px;
    }
}
